profilePath: .:./config:./config/tab:./tab:C:/ntb/zebra/tab
modulePath: ../../index/.libs:/usr/lib/x86_64-linux-gnu/idzebra-2.0/modules

recordtype: dom.config/dom-config.xml

attset: stlbiblio.att
attset: explain.att

register: ./reg:16G
lockDir: ./reg
keyTmpDir: ./reg
setTmpDir: ./reg

# Enables indexing using ICU..
index: icu.idx

encoding: utf-8
